

body{
  background: url("https://www.eyerys.com/sites/default/files/hacking.png") no-repeat;
  background-size:cover;

  min-height : 400px;
  min-width: 400px;
}

.search {
  width: 120%;
  position: relative
}

.searchTerm {
  display: inline-block;
  width: 200%;

  padding: 5px;
  height: 40px;
  border-radius: 5px;
  outline: none;
  color: black;
}

.solution
{
  margin:auto;
  color:white;
}
.search-icon{
  position: relative;
  float: right;
  width: 100px;
  height: 100px;
  top: -80px;
  right: -300px;
}


.searchTerm:focus{
  color: grey;
}



/*Resize the wrap to see the search bar change!*/
.wrap{
  display: inline-block;
  width:14%;
  position: absolute;
  top: 75%;
  left:40%;


  transform: translate(-50%, -50%);
}
